<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ini halaman operator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,600&family=Vina+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid d-flex m-auto">
        <a class="navbar-brand text-white" href="#">AlpiceShop</a>

        <button
          class="navbar-toggler bg-white"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <button
              type="button"
              class="btn-close bg-light"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link text-white d-flex m-auto" href="menu-utama"
                  ><svg
                    class="me-2"
                    data-v-5a7ae982=""
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20.1289 9.35156V20.6016H3.87109V9.35156"
                      stroke="white"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M13.4492 13.2578H10.5664L9.125 15.3906L9.10938 20.6055H14.8711L14.8906 15.3906L13.4492 13.2578Z"
                      stroke="white"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M22.0274 10.9297L14.5 3.39453H9.79297L1.97266 10.9297"
                      stroke="white"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path></svg
                  >Halaman Utama</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="laporan">
                  <svg
                    class="me-2"
                    data-v-5a7ae982=""
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.15234 7.4961V16.5313L11.9766 21.0508L19.8047 16.5313V7.4961L11.9766 2.97656L4.15234 7.4961Z"
                      stroke="#EAE8F7"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M8.53906 10.0273V14L11.9766 15.9844L15.418 14V10.0273L11.9766 8.03906L8.53906 10.0273Z"
                      stroke="#EAE8F7"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M15.9727 11.9961H21.9648"
                      stroke="#EAE8F7"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M2.03516 11.9961H8.16797"
                      stroke="#EAE8F7"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M11.9805 15.9961V21.9883"
                      stroke="#EAE8F7"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M11.9805 2.01172V8.00391"
                      stroke="#EAE8F7"
                      stroke-width="1.39825"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path></svg
                  >Laporan</a
                >
              </li>
            </ul>
            <form class="d-flex mt-2 flex-column p-5">
              <a href="login" class="btn btn-light btn-lg">Keluar</a>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <!-- start Laporan -->
    <button
      class="bt-b btn-primary btn btn-lg d-flex m-auto mt-5 modal-btn"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Ubah Status
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">
              Ubah Status
            </h1>
            <button
              type="button"
              class="btn-close bg-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body mb-laporan">
            <div class="get-data">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label text-black"
                    >ID user</label
                  >
                  <input
                    type="number"
                    class="form-control shadow-sm get-id"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label
                    for="exampleInputPassword1"
                    class="form-label text-black"
                    >Masukan Status</label
                  >
                  <input
                    type="text"
                    class="form-control shadow-sm get-var"
                    id="exampleInputPassword1"
                  />
                </div>

                <button type="submit" class="btn btn-primary btn-f">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Modal -->

    <div class="container mt-3">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            Laporan Transaksi Semua user
          </h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>No</th>
                  <th>ID transaksi</th>
                  <th>Barang</th>
                  <th>Tanggal Pemesanan</th>
                  <th>Status</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody class="tbody"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Laporan -->
    <footer class="mt-2">
      <div class="container-fluid text-white text-center">
        <p>Copyright By <span class="copy">&copy;AlpiceShop</span> 2023</p>
      </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script src="js/laporan.js"></script>
  </body>
</html>
